header#header-wrapper {
  position: fixed;
  width: 100%;
  min-height: 5rem;
  /* background-color: #004393; */
  background-color: transparent;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  padding-bottom: 1.5rem;
  height: 128px;
}
.img-nav {
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 0;
  left: 0;
}
.header-nav {
  margin-top: -13px;
  position: relative;
}
.logo-nav {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 1.5rem;
}
.nav-container {
  width: 87.5%;
  max-width: 72rem;
  margin: auto;
}
.logo-container {
  max-width: 15rem;
  position: relative;
}
.menu-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 6rem;
  white-space: nowrap;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-container-wrapper {
  margin-top: -1rem;
}
.nav-container-wrapper li:first-child {
  margin-left: -2rem;
}
.nav-container-wrapper li {
  padding-left: 2rem;
  padding-right: 2rem;
}
.menu-icon .menu-ham-icon {
  color: black;
  background-color: #f8f900;
  padding: 0.5rem;
  margin-left: 1rem;
}
.red-live {
  background: red;
  color: white;
  border-radius: 2rem;
  padding: 0.22rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
}
.red-live:before {
  content: "";
  margin-right: 0.25rem;
  background: white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.red-live:after {
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  content: "LIVE";
}
.nav-item {
  color: white;
}
li.nav-item {
  color: white;
  font-family: "Sarabun", sans-serif;
  font-size: 100%;
}
span {
  font-size: 1rem;
  line-height: 1rem;
}
.icon-nav {
  font-size: 24px;
  color: white;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.first-section-Container {
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 7rem;
  height: 537px;
}
/* Carousel  */
.ant-carousel .slick-slide {
  text-align: center;
  height: 551px;
  line-height: 460px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
img {
  /* display: flex; */
  max-width: 100%;
  height: auto;
  /* flex-direction: column; */
  /* clip-path: polygon(0 14%, 100% 14%, 100% 100%, 0% 100%); */
}
.img-slide {
  width: 100%;
  margin-top: -82px;
  position: relative;
}
.video-button-css {
  margin-top: -276px;
  margin-left: 601px;
}
.video-css {
  position: absolute;
  border-radius: 1rem 1rem 0 0;
}
.bg-button-video {
  font-family: "Sarabun", sans-serif;
  background: #00c2d5;
  padding: 30px;
  margin-top: 342px;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  width: 616px;
  height: 60px;
}
.bg-button-video .font-center {
  margin-top: -12px;
  font-size: 1rem;
  color: white;
}

.second-section-Container {
  width: 100%;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
}

.highlight-text {
  font-family: "Sarabun", sans-serif;
  color: black;
  width: 87.5%;
  max-width: 72rem;
  margin: auto;
  font-size: 2.5rem;
}
.card-slick {
  outline: none;
  width: 150px;
  text-align: center;
  font-family: "Sarabun", sans-serif;
  font-size: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
}
.slick-next:before, .slick-prev:before{
  font-size: 51px;
    line-height: 0;
    opacity: 1;
    color: #fff;
    z-index: 99;
}
.slick-prev {
  left: -10px;
  z-index: 99;
}
.slick-next {
  right: 45px;
  z-index: 99;
}
.card-img-slick{
  border-radius: 1rem 1rem 0rem 0rem;
}